@page "/manufacturers/index"
@inherits ManufacturerBasePageClass

<PageTitle>Manufacturers</PageTitle>

@if (Manufacturers is null)
{
    <LoadingMessageComponent ValueToShow="@ManufacturerPlural" />
    return;
}

<a href="/manufacturer/create" class="btn btn-primary">Create Manufacturer</a>

@if (Manufacturers.Count > 0)
{
    @:&nbsp;
    <button class="btn btn-success" @onclick="ExportCSV">Download As CSV</button>
}

<br />
<br />

@if (Manufacturers.Count == 0)
{
    <NoResultsComponent ObjectType="@ManufacturerPlural" />
    return;
}

<ManufacturerGridViewComponent Manufacturers="@Manufacturers" />