<MudCardContent>
    <MudTextField id="txtCategory" Label="Name" @bind-Value="CategoryDisplayModel.Name" AutoFocus OnlyValidateIfDirty="true" />
</MudCardContent>
<MudCardActions>
    <button type="submit" class="btn btn-primary">Submit</button>
    &nbsp;
    <a class="btn btn-primary" href="/categories/index">Cancel</a>
</MudCardActions>