<MudTable Items="Manufacturers"
          Hover
          FixedHeader="true">
    <HeaderContent>
        <MudTh title="Sort by Manufacturer Name">
            <MudTableSortLabel SortBy="new Func<ManufacturerSummary, object>(x => x.Name)">
                Name
            </MudTableSortLabel>
        </MudTh>
        <MudTh title="Sort by Status">
            <MudTableSortLabel SortBy="@((ManufacturerSummary x) => x.StatusName ?? "Unknown")">
                Status
            </MudTableSortLabel>
        </MudTh>
        <MudTh title="Sort by Widget Count">
            <MudTableSortLabel SortBy="new Func<ManufacturerSummary, object>(x => x.WidgetCount)">
                Widget Count
            </MudTableSortLabel>
        </MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd>@context.Name</MudTd>
        <MudTd>@context.StatusName</MudTd>
        <MudTd>@context.WidgetCount</MudTd>
        <MudTd>
            <a href="/manufacturer/view/@context.ManufacturerId" class="btn btn-primary">View</a>
            &nbsp;
            <a href="/manufacturer/edit/@context.ManufacturerId" class="btn btn-primary">Edit</a>
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager PageSizeOptions="new int[] { 5, 10, 15, int.MaxValue }" />
    </PagerContent>
</MudTable>