@page "/widgets/index"
@inherits WidgetBasePageClass

<PageTitle>Widgets</PageTitle>

@if (Widgets is null)
{
    <LoadingMessageComponent ValueToShow="@WidgetPlural" />
    return;
}

<a href="/widget/create" class="btn btn-primary">Create Widget</a>

@if (Widgets.Count > 0)
{
    @:&nbsp;
    <button class="btn btn-success" @onclick="ExportCSV">Download As CSV</button>
}

<br />
<br />

@if (Widgets.Count == 0)
{
    <NoResultsComponent ObjectType="@WidgetPlural" />
    return;
}

<WidgetGridViewComponent Widgets="@Widgets" />