@page "/Error"
@using System.Diagnostics

<PageTitle>Error</PageTitle>

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@RequestId</code>
    </p>
}

<MudText Typo="Typo.h3">Development Mode</MudText>

<MudText Typo="Typo.body1">
    Swapping to <span style="font-weight:bold;">Development</span> environment will display more detailed information about the error that occurred.
</MudText>

<MudText Typo="Typo.body1">
    <span style="font-weight:bold;">
        The Development environment shouldn't be enabled for deployed applications.
    </span>
    It can result in displaying sensitive information from exceptions to end users.
    For local debugging, enable the
    <span style="font-weight:bold;">Development</span>
    environment by setting the
    <span style="font-weight:bold;">ASPNETCORE_ENVIRONMENT</span>
    environment variable to
    <span style="font-weight:bold;">Development</span>
    and restarting the app.
</MudText>


@code{
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}
