@page "/"
@inherits MyMMBasePageClass

<PageTitle>Manufacturer Manager</PageTitle>

<MudText Typo="Typo.h3">Hello team!</MudText>

<MudText Typo="Typo.body1">Welcome to your new Manufacturer app.</MudText>

<div class="my-1"></div>

<MudText Typo="Typo.h3">My MMs</MudText>

@if (MyMMs is null)
{
    <LoadingMessageComponent ValueToShow="@MyMMPlural" />
    return;
}

@if (MyMMs.Count() == 0)
{
    <NoResultsComponent ObjectType="@MyMMPlural" />
    return;
}

<MudText Typo="Typo.body1">Here are your currently active MyMMs:</MudText>


<MyMMGridViewComponent MyMMs="@MyMMs" />
